@import "tailwindcss";

:root {
  --background: #131313;
  --text-color: #f1f0ea;
  --acctent: #ff66c4;
}

body {
  background-color: var(--background);
  color: var(--text-color); 
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px 0px 24px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 12px 12px 0px 12px; 
  }
}